.body {
  padding: 0;
  margin: 0;
}
.cart {
  position: -webkit-sticky;
  position: sticky;
  top: 25%;
  float: right;
  width: fit-content;
  margin-right: 20px;
  border: 1px solid black;
  color: blue;
}
